<section class="min-h-screen bg-hero-gradient">
  <div
    class="bg-stars bg-repeat-x min-h-full flex justify-center items-center flex-col gap-10 h-screen"
  >
    <p class="text-lg md:w-[600px] text-white text-center leading-tight">
      Somos un estudio de Diseño y Comunicación, especializado en planificar y
      ejecutar estrategias de marketing en medios digitales desde 2011. Contamos
      con una red de profesionales diversos con quienes armamos equipos
      flexibles de trabajo de acuerdo al alcance de cada proyecto.
    </p>
    <div class="flex justify-center items-center w-full animate-slide-up-fade">
      <a href="#design">
        <img
          id="image-design"
          class="border-b-4 border-transparent transition-all hover:border-design md:w-[166px] md:h-[63px] w-[106px] h-[60px]"
          src="/design.webp"
          alt="design letter"
        />
      </a>
      <img src="/and.webp" alt="letter & image" />
      <a href="#digital">
        <img
          id="image-digital"
          class="md:w-[166px] md:h-[63px] border-b-4 border-transparent transition-all hover:border-digital w-[106px] h-[60px]"
          src="/digital.webp"
          alt="digital letter"
        />
      </a>
    </div>
  </div>
  <div class="bg-city bg-no-repeat w-full h-56 absolute bottom-0 bg-center">
  </div>
</section>

<style>
  #image-design:hover {
    filter: opacity(0.5) drop-shadow(0 0 0 #35a4d0) saturate(10);
  }
  #image-digital:hover {
    filter: opacity(0.5) drop-shadow(0 0 0 #ffc8ff) saturate(10);
  }
</style>
