<section class="bg-[#000000] md:h-[700px] flex justify-center items-center">
  <img
    src="/ten-years.webp"
    class="w-80 h-80 md:w-[700px] md:h-[700px] p-2"
    alt="Imagen de 10 años La Patota"
  />
</section>
